body{
    background:#E6E6E6;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

/*NAVBAR*/

nav{
    z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #000;
}

nav ul{
  list-style-type: none;
  text-align: center;
  height: 2.5em;
}

nav ul li{
  display: inline-block;
  text-align: center;
 padding: 0.7em 3em 0em 3em;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover, nav ul li a:active{
  border-bottom: 0.12em solid #ccc;
  padding-bottom: 0.5em;
}
header nav ul li a:focus {
    outline: none;
}



main{
    margin-right:0%;
    margin-left:0%;
    margin-top:6%;
    margin-bottom:6%;
}

p{
    text-align: center;
    font-weight: bold;
    font-family: script;
    margin-top:14%;
    font-size:3em;
    color: red;
    text-decoration: blink;
}

button{
    background-color: grey;
    border-width: 0.4em;
    border-color: black;
    border-radius: 0.4em;
    color: white;
    font-family: script;
    font-weight: bold;
    padding: 1em 1em;
    font-size: 1.6em;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
}

button:hover {
    background-color: #4C4343;
}

