body{
  background:#E6E6E6;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

body>header, body>footer{
    position:fixed;
    width:100%;
    background-color:black;
    height:12%;
}

body>header{
    top:0;
    display: flex;
    justify-content: space-around;
}

.droit{
    position:fixed;
    width:26%;
    margin: auto;
}

.gauche{
    position:fixed;
    width:15%;
    top:4%;
    right:5px;
    bottom:2%;
}

div{
    padding:1%;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
}

label{
    font-size: 1.6em;
}

html>body>header>div.gauche>a{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}

html>body>header>div.gauche>a:hover{
    color: red;
}


h1{
    text-align: left;
}

body>footer{
    bottom:0;
    text-align:right;
}

main{
    margin-right:0%;
    margin-left:0%;
    margin-top:6%;
    margin-bottom:6%;
}

section{

    margin:0;
}

main section img{

  
    width: 26%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button{
    background-color: grey;
    border-width: 0.4em;
    border-color: black;
    border-radius: 0.4em;
    color: white;
    font-family: script;
    font-weight: bold;
    padding: 1em 1em;
    font-size: 1.6em;
}

button:hover {
    background-color: #4C4343;
}

input:hover {
    background-color: #4C4343;
    color: white;
}

.button3{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    
}

p{
    
    text-align: center;
    font-weight: bold;
    font-family: script;
    margin-top:14%;
    font-size:3em;
    color: red;
    text-decoration: blink;
}

/*.result{
    background-image: url("../image/fond2.jpeg");
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    margin-bottom:auto;
    margin-top:auto;
}*/


/*bouton log out */
.out{
    
    background-color: red;
    border-width: 0px;
    border-color: black;
    border-radius: 24px;
    color: white;
    text-align: right;
    font-weight: bold;
    padding: 14px 6px;
    font-size: 1em;
    margin-right: 2%;
    margin-top: 0.8%;
}