body{
    background-color:white;
    
}

body>header, body>footer{
    position:fixed;
    width:100%;
    margin:0;
    padding:0px;
    background-color:black;
    height:80px;
}

body>header{
    top:0;
    text-align:center;
}

body>footer{
    bottom:0;
    text-align:right;
}

main{
    margin-right:0%;
    margin-left:0%;
    margin-top:84px;
    margin-bottom:84px;
}

section{

    margin:14px;
}

main section img{

    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: white;
}

button {
    background-color: grey;
    border-width: 8px;
    border-color: black;
    border-radius: 12px;
    color: white;
    text-align: center;
    font-family: script;
    font-weight: bold;
    padding: 32px 20px;
    display:inline-block;
    font-size: 22px;
}

button:hover {
    background-color: #4C4343; /* Green */
    color: white;
}

input:hover {
    background-color: #4C4343; /* Green */
    color: white;
}

.button1{

    margin-left: 20%;    
}


.button2{
    
    float:right;
    margin-right: 20%;
    position:relative;
    bottom:108px; 
}


.button3{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    
}

p{
    
    text-align: center;
    font-weight: bold;
    font-family: script;
    margin-top:14%;
    font-size:3em;
    color: red;
    text-decoration: blink;
}

.result{
    background-image: url("../image/fond2.jpeg");
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    margin-bottom:auto;
    margin-top:auto;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

th{

    font-size: 1.8em;
    background-color: blue;
    padding: 10px;
}

table,th{
   
    border: 2px solid black;
}

td
{
    margin: 8px;
    border: 3px solid green;
    color: black;
    font-size: 1.8em;
    text-align: center;
    font-family: "Times New Roman";
    background-color: white;
    
}

/*bouton log out */
.out{
    
    background-color: red;
    border-width: 0px;
    border-color: black;
    border-radius: 24px;
    color: white;
    text-align: right;
    font-weight: bold;
    padding: 14px 6px;
    font-size: 1em;
    margin-right: 2%;
    margin-top: 0.8%;
}