body{
  background:#E6E6E6;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}



/*NAVBAR*/

nav{
	z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #000;
}

nav ul{
  list-style-type: none;
  text-align: center;
  height: 2.5em;
}

nav ul li{
  display: inline-block;
  text-align: center;
 padding: 0.7em 3em 0em 3em;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover, nav ul li a:active{
  border-bottom: 0.12em solid #ccc;
  padding-bottom: 0.5em;
}
header nav ul li a:focus {
	outline: none;
}



/*MAIN PAGE*/

main{
    margin-top: 5em;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

section{
  background:#FFFFFF;
  box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);
  padding:1em;
  margin:1em;
}

img{
	margin-top: 2em;
	width:75%;
}

/*TITLE*/

h1{
	font-size: 3em;
}
p{
    text-align:center;
}


/*body{

	background-color: #FFF;
	text-align: center;
	display: flex;
	flex-direction: column;

}
main{
	margin-top: 1em;
}

nav {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

header nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content:center;
	height: 5em;
}

header nav ul li {
	margin: 0;
	text-align: center;
	background: rgba(0,0,0,0.8);
	width: 20%;
	margin-top: 1em;
	padding:1em;
}

header nav ul li:hover {
	background:  rgba(0,0,0,0.7);;
	color: #000;
}

header nav ul li a {
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	text-decoration: none; 

}

header nav ul li a:focus {
	outline: none;
}
*/