body{
  background:#E6E6E6;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}



/*NAVBAR*/

nav{
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #000;
}

nav ul{
  list-style-type: none;
  text-align: center;
  height: 2.5em;
}

nav ul li{
  display: inline-block;
  text-align: center;
 padding: 0.7em 3em 0em 3em;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover, nav ul li a:active{
  border-bottom: 0.12em solid #ccc;
  padding-bottom: 0.5em;
}
header nav ul li a:focus {
  outline: none;
}




/*MAIN PAGE*/

main{
	margin-top: 5em;
  width:100%;
  height:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

section{
  display:inline-block;
  vertical-align:top;
  background:#FFFFFF;
  text-align: left;
  box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);
  padding:1em;
  width:55%;
  height:90%;
  margin:1em;
}

div{

  padding-left: 1em;
  margin-bottom:1em;
 }

input{
  margin-left: 5em;
}

/*TITLE*/

h1{
	font-size: 3em;
}

h1 + p{
	font-size: 0.9em;
}

h2{
  font-family:'Alegreya Sans', sans-serif;
  font-weight:300;
  margin-top:0;
  font-size: 1.5em;
  text-align: center;
}



 /*BUTTON*/

#valid, #reset{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    width: 15%;
    padding: 1%;
    margin: 1%;
    color: #FFFFFF;
    cursor: pointer;
}
#valid{
 	background: #4CAF50;
}

#valid:hover,#valid:active,#valid:focus {
    background: #43A047;
}

#reset{
	 background: #D80012;
}

#reset:hover,#reset:active,#reset:focus {
    background: #FF0015;
}